<div class="about-container">
	<div class="cover-text text-center">
		<p><h3>【Grip】 provides a matching service of a tourist and guide</h3></p>
		<p><h4>【Grip】は観光客とガイドのマッチングサービスを提供いたします。</h4></p>
	</div>
	<div class="theTarget">
		<div style="background-image: url('/assets/about1.jpg')"></div>
		<div style="background-image: url('/assets/about2.jpg')"></div>
		<div style="background-image: url('/assets/about3.jpg')"></div>
		<div style="background-image: url('/assets/about4.jpg')"></div>
	</div>
</div>
This site provides the matching service of a tourist and the guide.