<div class="container">
	<div class="theTarget">
			<div style="background-image: url(/assets/about1.jpg)"></div>
			<div style="background-image: url(/assets/about2.jpg)"></div>
			<div style="background-image: url(/assets/about3.jpg)"></div>
			<div style="background-image: url(/assets/about4.jpg)"></div>
		</div>
	<div class="row">
		<h1>Homes#about</h1>
		<p>このサイトは観光客とガイドのマッチングｻｰﾋﾞｽを提供いたします。</p>
	</div>

	<div class="row">
		<div class="col-xs-6"></div>
		<div class="col-xs-6"></div>
	</div>
</div>