<div class="home-container">
	<div class="row">
		<div class="home-text">
			<h2><p>Grip</p></h2>
			<P>For you, who want to grip a trip more than just 『trip』</P>
			<P>『trip』では得られない、一歩先の旅をつかみたいあなたへ</P>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-offset-2 col-xs-3">
			<div class="box">
				<div><h3>Tourist Section</h3></div>
				<div>
					<section>会員の方はこちらから</section>
					<div class="btn btn-primary"><%= link_to 'Tourist Log In', new_tourist_session_path, :style=>"color:white;"  %></div>
				</div>
				<div>
					<section>会員登録はこちらから</section>
					<div class="btn btn-success"><%= link_to 'Tourist Sign Up', new_tourist_registration_path, :style=>"color:white;"  %></div>
				</div>
				</div>
			</div>
		<div class="col-xs-offset-2 col-xs-3">
			<div class="box">
				<div><h3>Guide Section</h3></div>
				<div>
					<section>会員の方はこちらから</section>
					<div class="btn btn-primary"><%= link_to 'Guide Log In', new_guide_session_path, :style=>"color:white;" %></div>
				</div>
				<div>
					<section>会員登録はこちらから</section>
					<div class="btn btn-success"><%= link_to 'Guide Sign Up', new_guide_registration_path, :style=>"color:white;" %></div>
				</div>
			</div>
		</div>
	</div>
</div>